<%= form_for(@brew) do |f| %>
  <% if @brew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
      <% @brew.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well"
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="well">
    <%= f.label :fermentation_started_at %><br />
    <div id="datetimepicker1" class="input-append date">
      <%= f.text_field :fermentation_started_at, :data => {:format => "yyyy-MM-dd hh:mm:ss"} do |tmp| %>
        <!-- TEST -->
      <% end %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  </div>
  <div class="well">
    <%= f.label :fermentation_stopped_at %><br />
    <div id="datetimepicker2" class="input-append date">
      <%= f.text_field :fermentation_stopped_at, :data => {:format => "yyyy-MM-dd hh:mm:ss"} do |tmp| %>
        <!-- TEST -->
      <% end %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

