
<h1><%= @brew.title %></h1>
<div class="well">

  <p>
  <b><%= t 'fermentation started at' %>:</b>
  <%= @brew.fermentation_started_at %>
  </p>

  <p>
  <b><%= t 'fermentation stopped at' %>:</b>
  <%= @brew.fermentation_stopped_at %>
  </p>
</div>
<%= link_to t('edit'), edit_brew_path(@brew), :class => "btn btn-primary" %> 
<%= link_to t('back'), brews_path, :class => "btn btn-primary" %>
