<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'title' %>:</b>
  <%= @brew.title %>
</p>

<p>
  <b><%= t 'fermentation started at' %>:</b>
  <%= @brew.fermentation_started_at %>
</p>

<p>
  <b><%= t 'fermentation stopped at' %>:</b>
  <%= @brew.fermentation_stopped_at %>
</p>

<%= link_to t('edit'), edit_brew_path(@brew) %> |
<%= link_to t('back'), brews_path %>
