<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if true %>
    <li>
    <%= link_to('Logout', brews_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', brews_path)  %>
    </li>
  <% end %>
  <% if true %>
    <li>
    <%= link_to('Edit account', brews_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', brews_path)  %>
    </li>
  <% end %>
</ul>
